<%= flash[:notice] %>
<br/>
<h1 style="padding-left: 100px;">| <%= link_to 'View Players', root_path %> |</h1>
<br/><br/>
<div>
  <% @groups.each do |id, group_hash| %>
    <h3 class="group-name"><%= "#{id}: #{group_hash[:name]}, Max Points: #{group_hash[:max_pts]}, Min Points: #{group_hash[:min_pts]}" %></h3>
    <table class="table table-striped table-hover players-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Team</th>
          <th>Pos</th>
          <th>Proj. PTS</th>
        </tr>
      </thead>
      <tbody>
        <% group_hash[:players].each do |player| %>
          <tr>
            <td><%= player.name %></td>
            <td><%= player.team %></td>
            <td><%= player.position %></td>
            <td><%= player.lwl_pts %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br/>
  <% end %>
</div>