<%= flash[:notice] %>

<%= link_to 'Groups', groups_path %>

<table class="table table-striped table-hover players-table">
  <thead>
    <tr>
      <th>LWL Rank</th>
      <th>Name</th>
      <th>Projected Points</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td><%= player.lwl_rank %></td>
      <td><%= player.name %></td>
      <td><%= player.lwl_pts %></td>
      <td><%= player.group.name if player.group_id %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<!--
<div>
  <h3>Import a CSV List</h3>
  <%= form_tag import_players_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

-->