<div class="row" style="margin-top:75px;">
<% provide(:title, 'Players') %>

<% if flash[:updated_stats] %>
  <% flash[:updated_stats].each do |player| %>
      <%= player %> <br/>
  <% end %>
<% end %>

<table id="players" class="table table-striped table-hover players-table">
  <thead>
    <tr>
      <th>LWL Rank</th>
      <th>Draft Pos.</th>
      <th>Name</th>
      <th>Team</th>
      <th>Group</th>
      <th>Projected Points</th>
      <th>Actual Points</th>
      <th>Projected PTS/GM</th>
      <th>Current PTS/GM</th>
      <th>Goals</th>
      <th>Assists</th>
      <th>PPG</th>
      <th>PPP</th>
      <th>SHG</th>
      <th>GWG</th>
      <th>Shots</th>
      <th>SH %</th>
      <th>ATOI</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.lwl_rank %></td>
        <td><%= player.draft_pos %></td>
        <td><%= player.name %></td>
        <td><%= player.team_abbrev %></td>
        <td><%= player.group.name if player.group_id %></td>
        <td><%= player.lwl_pts %></td>
        <td><%= player.pts %></td>
        <td><%= player.prjct_pts_game.round(2) %></td>
        <td><%= player.pts_game.round(2) %></td>
        <td><%= player.goals %></td>
        <td><%= player.assists %></td>
        <td><%= player.ppg %></td>
        <td><%= player.ppp %></td>
        <td><%= player.shg %></td>
        <td><%= player.gwg %></td>
        <td><%= player.shots %></td>
        <td><%= player.s_pct.round(2) if player.s_pct %></td>
        <td><%= player.atoi.round(2) if player.atoi %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <h3>Import a CSV List</h3>
  <%= form_tag import_players_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

</div>